
@mixin list__default(
    $border: 1px solid $main-color,
    $title-color: $main-color,
    $img--width: 10rem,
    $img--height: 10rem
) {
    %list {
        &-item {
            border: $border;
            padding: 2rem 0;

            &__img {
                display: none;
            }

            &__img-fix {
                @extend %background-cover;

                height: $img--height;
                width: $img--width;
            }

            &__title {
                color: $title-color;
            }
        }
        @content;
    }
}
