// add dependency of 3rd party css here
@import '../dynamic_templates/modules/list/layouts';

@include list__default() {
    %list {
        list-style: none;
    }

    .list--news {
        display: flex;
    }

    %listItem__title {
        color: $neutral700;
    }

    %listItem__subTitle {
        color: $neutral500;
    }
}
