@import  './project_alternate-vars';
// add dependency of 3rd party css here
@import '../dynamic/modules/list/layouts';

@include list__alternate($img-round: 20rem){
    %list-item__title{
        text-decoration: underline;
    }
    &.list--offers{
        %list-item__title{
            color: $main-color;
            &::after, &::before{
            content: '-';
            }
        }
    }
    &.list--news{
        %list-item{
            background: #ccc;
            &__title{
                text-transform: uppercase;
                color: $corporate-color;
            }
            &__img{
                &-fix {
                    border-radius: 0;
                }
            }
        }
    }
};
