// BRAND ----------------------------------------------------------

$brand: corporativa;

// media queries -----------------------------------------------------------

// Extra small screen / phone
$screen_xs: 340px;
// Small screen / phone
$screen_sm: 568px;
// Medium screen / tablet
$screen_md: 769px;
// Large screen / desktop
$screen_lg: 1024px;
// Extra large screen / wide desktop
$screen_xl: 1200px;

$max-width: 1600px;
$min-width: 150px;
$padding-base: 30px;

$tablet: lg;
$tabletv: md;

// colors --------------------------------------------------------- 

$base_01: #ff0000;
$base_02: #ab3333;
$base_03: rgb(255, 193, 193);
$second_01: rgb(18, 53, 193);

//form states

$form_ok: #B2B717;
$form_error: #FFB20C;
$form_required: #AD1F00;


// fonts --------------------------------------------------------- 


$icons_base: icons_base;
$font1: Helvetica;
$font2: Helvetica;
$font3: Helvetica;
$font4: Helvetica; 
$font5: Helvetica; 
$font6: Helvetica;  
$icons: icons;

$font-face: $font1,$font2,$font3,$font4,$font5,$font6,$icons,$icons_base;

$fontsetbase: $font1, sans-serif;
$fontset01: $font1, Arial, sans-serif;
$fontset02: $font2, Arial, sans-serif;
$fontset03: $font3, Arial, sans-serif;
$fontset04: $font4, Arial, sans-serif; 
$fontset05: $font5, Arial, sans-serif; 
$fontset06: $font6, Arial, sans-serif; 
$fontsize_base:62.5%;


// items menu --------------------------------------------------------- 

$visible_items:9;


//Popup footer
$size-popup-title-left: 3.8rem;
$size-popup-fringe-title: 3.2rem;