@import  'variables';
// add dependency of 3rd party css here
@import 'main';

@include list__alternate(){
    %list-item__title{
        &::after, &::before{
            content: '-';
        }
    }
    &.list--offers{
        %list-item__title{
           color: #ff0000;
        }
    }
    &.list--news{
        %list-item{
            background: #ccc;
            &__title{
                text-transform: uppercase;
                color: blue;
            }
        }
    }
};