/* postcss-bem-linter: define menu */

.menu {
    text-align: center;

    &__item {
        display: inline-block;
        padding: 1rem;
    }
}

/* postcss-bem-linter: define title */

.title {
    text-align: center;
}
