/* postcss-bem-linter: define menu */

.menu {
    justify-content: center;
    display: flex;

    &__item {
        padding: 1rem;
        list-style: none;
    }
}

/* postcss-bem-linter: define title */

.title {
    text-align: center;
}
