@import  '_variables';
// add dependency of 3rd party css here
@import 'main';


@include list__option(){
    %list-item__title{
        &::after, &::before{
            content: '-';
        }
        text-transform: lowercase;
        text-align: center;
    }
};