// add dependency of 3rd party css here
@import './dynamic/modules/list/layouts';
//$title-color: #ccc
@include list__default {
    & {
        list-style: none;
    }

    &.list--news {
        display: flex;
    }

    %list-item__title {
        color: $almost-light-color;
    }

    // & {
    //     display: none;
    // }
};
